body {
    background-color: black;
}

h1 {
    color: white;
    text-align: center;

}
h2 {
    color: white;
    text-align: center;

}

#buttons {
    text-align: center;
}

#level1 {
    background-color: #00cc00;
    color: #fff;
    padding: 15px 30px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 20px;
    cursor: pointer;
}

#level1:hover {
    background-color: #009900;
}

#level2 {
    background-color: #00cc00;
    color: #fff;
    padding: 15px 30px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 20px;
    cursor: pointer;
}

#level2:hover {
    background-color: #009900;
}
#level3 {
    background-color: #00cc00;
    color: #fff;
    padding: 15px 30px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 20px;
    cursor: pointer;
}

#level3:hover {
    background-color: #009900;
}

#level4 {
    background-color: #00cc00;
    color: #fff;
    padding: 15px 30px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 20px;
    cursor: pointer;
}

#level4:hover {
    background-color: #009900;
}